body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =========================================

  Tailwind CSS 準拠クラス(一部記号は代用して定義)
  https://nerdcave.com/tailwind-cheat-sheet

========================================= */

/* Flexbox */
.flex {
  display: flex;
}

/* Box Alignment */
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

/* Sizing */
.h-full {
  height: 100%;
}
.w-11-12 {
  width: 91.666667%;
}
.w-full {
  width: 100%;
}