/* Container */
.bg_c-24292e {
    background-color: #24292e;
}
.opa-08 {
    opacity: 0.8;
}

/* Toolbar */
.dis-fl {
    display: flex;
}
.jus_con-spa_bet {
    justify-content: space-between;
}

/* Breadcrumbs */
.MuiBreadcrumbs-separator {
    color: white;
}

/* Link */
.cur-poi {
    cursor: pointer;
}